/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Colors */
/** Fonts */
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/lato_regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../fonts/lato_light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/montserrat_regular.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/montserrat_bold.ttf");
}
/* line 40, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 46, ../sass/style.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #252023;
  background-color: white;
  margin: 0;
  font-family: LatoRegular;
  overflow-x: hidden;
}

/* line 59, ../sass/style.scss */
.nav-lang .fa-bars {
  display: none;
  cursor: pointer;
}

/* line 64, ../sass/style.scss */
.nav-menu {
  display: block;
}

/* line 72, ../sass/style.scss */
.header {
  position: relative;
  width: 100vw;
  height: 70vh;
}

/* line 82, ../sass/style.scss */
.container {
  width: 1100px;
  margin: auto;
}

/* line 87, ../sass/style.scss */
.social, .arrows {
  width: 1100px;
}

/* line 91, ../sass/style.scss */
.nav-wrapper {
  width: 100%;
  position: fixed;
  background-color: #29c0ff;
  z-index: 10;
  padding: 0;
  color: white;
  font-size: 1.3em;
  font-family: LatoLight;
}
/* line 101, ../sass/style.scss */
.nav-wrapper a {
  color: white;
  text-decoration: none;
}
/* line 106, ../sass/style.scss */
.nav-wrapper a:hover {
  color: #058fc8;
}

/* line 112, ../sass/style.scss */
.nav-wrapper-box {
  width: 1100px;
  margin: auto;
}

/* line 117, ../sass/style.scss */
.stripe-wrapper {
  width: 100%;
  background-color: white;
}

/* line 122, ../sass/style.scss */
.nav-stripe-top {
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  color: #29c0ff;
  background-color: white;
  margin: auto;
  width: 1100px;
}

/* line 134, ../sass/style.scss */
.nav-stripe-bottom {
  font-size: 0.8em;
  color: white;
  background-color: #81dafc;
  padding: 2px 15px 2px 15px;
}
/* line 140, ../sass/style.scss */
.nav-stripe-bottom .nav-stripe-bottom-inner {
  width: 1100px;
  margin: auto;
}

/* line 146, ../sass/style.scss */
.stripe-top-content {
  padding: 5px;
}

/* line 150, ../sass/style.scss */
.stripe-top-left, .stripe-top-right {
  width: 50%;
  padding: 0;
}

/* line 155, ../sass/style.scss */
.stripe-top-left {
  padding-left: 15px;
}

/* line 159, ../sass/style.scss */
.stripe-top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
/* line 165, ../sass/style.scss */
.stripe-top-right a {
  color: #81dafc;
  padding: 1px;
}
/* line 170, ../sass/style.scss */
.stripe-top-right .languages {
  width: 60px;
  text-align: left;
}
/* line 178, ../sass/style.scss */
.stripe-top-right .languages:hover .languages-dropdown {
  display: block;
  position: absolute;
  background-color: white;
  z-index: 100;
}
/* line 185, ../sass/style.scss */
.stripe-top-right .languages-dropdown {
  display: none;
}
/* line 189, ../sass/style.scss */
.stripe-top-right .flag {
  width: 15px;
  text-align: right;
}

/* line 197, ../sass/style.scss */
.nav-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}

/* line 206, ../sass/style.scss */
.nav-slash {
  padding: 0 5px 0 5px;
}

/* line 210, ../sass/style.scss */
.dropdown {
  display: inline-block;
  padding: 18px 0;
}

/* line 215, ../sass/style.scss */
.dropdown-content {
  font-size: 0.9em !important;
  text-align: left;
  display: none;
  align-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #81dafc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-top: 0;
  z-index: 1;
}
/* line 232, ../sass/style.scss */
.dropdown-content a {
  display: inline-block;
  color: white !important;
  padding: 2px 0 2px 0;
}
/* line 239, ../sass/style.scss */
.dropdown-content a:hover {
  color: #058fc8 !important;
  background-color: white;
}

/* line 245, ../sass/style.scss */
.dropdown-content-link {
  width: 25%;
  margin: 0;
  padding: 5px;
  align-self: stretch;
}
/* line 251, ../sass/style.scss */
.dropdown-content-link i {
  display: block;
  font-size: 1.5em;
}

/* line 257, ../sass/style.scss */
.dropdown-content-link:hover {
  color: #058fc8 !important;
  background-color: white;
}
/* line 261, ../sass/style.scss */
.dropdown-content-link:hover a {
  color: #058fc8 !important;
  padding: 2px 0 2px 0;
}

/* line 268, ../sass/style.scss */
.dropdown:hover .dropdown-content {
  display: flex;
  align-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  position: absolute;
  width: 1100px;
  margin: auto;
  margin-top: 20px;
  color: white;
  left: 0;
  right: 0;
}

/* line 283, ../sass/style.scss */
.logo-container {
  width: 30%;
}

/* line 288, ../sass/style.scss */
.nav {
  text-align: right;
  width: 70%;
  padding-right: 5px;
}

/* line 295, ../sass/style.scss */
.logo {
  width: 200px;
}

/* line 299, ../sass/style.scss */
.social-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  align-content: center;
  z-index: 2;
  flex-wrap: wrap;
  bottom: 15px;
}

/* line 310, ../sass/style.scss */
.arrows {
  text-align: right;
  margin-right: 30px;
  padding-right: 15px;
  z-index: 3;
  align-self: flex-end;
}

/* line 318, ../sass/style.scss */
.left, .right {
  width: 25px;
  height: 25px;
  background-color: #81dafc;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}
/* line 328, ../sass/style.scss */
.left:hover, .right:hover {
  opacity: 0.5;
}

/* line 333, ../sass/style.scss */
.social {
  color: white;
  font-size: 1.5em;
  z-index: 4;
  align-self: flex-end;
  text-align: left;
  margin-bottom: 5%;
}
/* line 341, ../sass/style.scss */
.social a {
  color: white;
  text-decoration: none;
}
/* line 346, ../sass/style.scss */
.social .help {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  background-color: white;
  padding: 5px;
  border-radius: 5px 0 0 5px;
}
/* line 353, ../sass/style.scss */
.social .help a {
  color: #81dafc;
  text-decoration: none;
}
/* line 362, ../sass/style.scss */
.social i {
  border: solid 1px white;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}
/* line 368, ../sass/style.scss */
.social i:hover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  cursor: pointer;
  background-color: white;
  color: #81dafc;
}

/* line 384, ../sass/style.scss */
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

/* line 403, ../sass/style.scss */
.slider::-webkit-scrollbar {
  display: none;
}

/* line 407, ../sass/style.scss */
.slider-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  flex: 0 0 100%;
  height: 70vh;
  margin: 55px 0 0 0;
  padding: 0;
  color: white;
}

/* line 425, ../sass/style.scss */
.slider-contact {
  position: absolute;
  background-color: rgba(255, 153, 0, 0.8);
  right: 20px;
  bottom: 0;
  padding: 5px;
  z-index: 5;
}
/* line 433, ../sass/style.scss */
.slider-contact a {
  color: white;
  text-decoration: none;
}

/* line 439, ../sass/style.scss */
.slider-slogan {
  color: white;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 2px grey;
}
/* line 446, ../sass/style.scss */
.slider-slogan h1 {
  font-family: MontserratBold;
  font-size: 3em;
  margin: 0;
}
/* line 452, ../sass/style.scss */
.slider-slogan h3 {
  font-family: LatoLight;
  font-size: 1.2em;
  margin: 0;
}

/* line 460, ../sass/style.scss */
.btn {
  background-color: #81dafc;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 15px;
  left: 0;
  right: 0;
  z-index: 2;
  position: relative;
}

/* line 475, ../sass/style.scss */
.btn-fix {
  position: relative;
  margin: 0;
  left: 0;
  right: 0;
}

/* line 482, ../sass/style.scss */
.btn:hover {
  -webkit-transition: background-color 1s, color 1s;
  -moz-transition: background-color 1s, color 1s;
  -ms-transition: background-color 1s, color 1s;
  -o-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  cursor: pointer;
  background-color: white;
  color: #252023;
}

/* line 505, ../sass/style.scss */
.services {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}

/* line 514, ../sass/style.scss */
.short-info {
  width: 50%;
  text-align: center;
  padding: 15px 50px 15px 50px;
  background-color: #fafafa;
  font-family: LatoLight;
  border-left: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  margin: 0;
  color: #726d70;
  cursor: pointer;
  transition: background-color 1s;
}
/* line 528, ../sass/style.scss */
.short-info h1 {
  font-size: 1.2em;
  color: #252023;
}
/* line 533, ../sass/style.scss */
.short-info i {
  padding-top: 25px;
  font-size: 1.5em;
  color: #81dafc;
}
/* line 539, ../sass/style.scss */
.short-info p {
  padding-bottom: 0;
  margin: 0;
  color: #726d70;
}
/* line 545, ../sass/style.scss */
.short-info a {
  text-decoration: none;
  color: #81dafc;
  font-size: 1em;
}
/* line 550, ../sass/style.scss */
.short-info a i {
  font-size: 1em;
}

/* line 556, ../sass/style.scss */
.short-info:hover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  background-color: #81dafc;
  color: white;
}
/* line 565, ../sass/style.scss */
.short-info:hover p, .short-info:hover h1, .short-info:hover i, .short-info:hover a {
  color: white;
}

/* line 570, ../sass/style.scss */
.about-us {
  text-align: center;
  padding: 40px;
}
/* line 574, ../sass/style.scss */
.about-us h1 {
  font-family: MontserratRegular;
  font-size: 3em;
}
/* line 579, ../sass/style.scss */
.about-us p {
  font-size: 2.5em;
  font-family: LatoLight;
  color: #726d70;
}

/* line 586, ../sass/style.scss */
.reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #81dafc;
  color: white;
  text-align: center;
  padding: 30px;
}

/* line 596, ../sass/style.scss */
.blue-part-inner {
  width: 33%;
}
/* line 599, ../sass/style.scss */
.blue-part-inner h1 {
  font-family: MontserratRegular;
}
/* line 603, ../sass/style.scss */
.blue-part-inner p {
  font-family: LatoLight;
  padding: 25px;
}

/* line 609, ../sass/style.scss */
.ref-logos {
  width: 100%;
}
/* line 613, ../sass/style.scss */
.ref-logos h1 {
  font-family: MontserratRegular;
}
/* line 617, ../sass/style.scss */
.ref-logos img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 150px;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}
/* line 626, ../sass/style.scss */
.ref-logos img:hover {
  transition: filter 1s;
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  cursor: pointer;
  filter: none;
}

/* line 636, ../sass/style.scss */
.success-block {
  margin: 0;
  background-image: url("../images/success-bck.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* line 647, ../sass/style.scss */
.success-block-wrapper {
  text-align: center;
}
/* line 650, ../sass/style.scss */
.success-block-wrapper h1 {
  font-family: MontserratBold;
  font-size: 4em;
  margin: 0;
}
/* line 656, ../sass/style.scss */
.success-block-wrapper h4 {
  font-family: LatoLight;
  color: #726d70;
  margin: 0;
}

/* line 664, ../sass/style.scss */
.contact-form {
  width: 80%;
  margin: auto;
  font-family: LatoLight;
  color: #726d70;
}
/* line 671, ../sass/style.scss */
.contact-form h2 {
  font-family: MontserratRegular;
  font-size: 3em;
  color: #252023;
}
/* line 677, ../sass/style.scss */
.contact-form .inp-name, .contact-form .inp-email {
  width: 45%;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
  margin-right: 25px;
  font-size: 1.2em;
}
/* line 686, ../sass/style.scss */
.contact-form .inp-msg {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  font-family: LatoLight;
  font-size: 1.2em;
  vertical-align: bottom;
}

/* line 700, ../sass/style.scss */
.inp-name:focus, .inp-email:focus, .inp-msg:focus {
  outline: none;
  box-shadow: 0 0 5px #81dafc;
}

/* line 705, ../sass/style.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  background-color: #81dafc;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border: 1px solid white;
}

/* line 720, ../sass/style.scss */
.inputfile + label {
  font-size: 1em;
  color: white;
  background-color: #81dafc;
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
}

/* line 730, ../sass/style.scss */
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: white;
  color: #252023;
  border: 1px solid #252023;
}

/* line 737, ../sass/style.scss */
.map {
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

/* line 743, ../sass/style.scss */
#footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

/* line 751, ../sass/style.scss */
.footer-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  width: 100%;
}

/* line 760, ../sass/style.scss */
.footer-logo, .rights {
  width: 50%;
  padding: 25px;
}

/* line 765, ../sass/style.scss */
.rights {
  text-align: right;
}

/* line 769, ../sass/style.scss */
.popup {
  display: none;
  position: fixed;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.9);
  color: #252023;
  padding: 15px;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #252023;
}
/* line 784, ../sass/style.scss */
.popup .short-info-close {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
/* line 790, ../sass/style.scss */
.popup i {
  font-size: 2em;
}

/* line 796, ../sass/style.scss */
.slide-down {
  display: none;
}

/* line 800, ../sass/style.scss */
.bottom-links {
  width: 50%;
  background-color: #252023;
  color: white;
  padding: 55px;
  font-family: LatoLight;
}
/* line 807, ../sass/style.scss */
.bottom-links a {
  text-decoration: none;
  color: white;
  display: block;
}
/* line 813, ../sass/style.scss */
.bottom-links a:hover {
  color: #81dafc;
}

/* line 817, ../sass/style.scss */
.other {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

/* line 824, ../sass/style.scss */
.other-content {
  display: none;
  padding: 25px;
}

/*Smartphones*/
@media screen and (max-width: 500px) {
  /* line 832, ../sass/style.scss */
  .nav-wrapper {
    padding: 5px;
  }

  /* line 836, ../sass/style.scss */
  .nav {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }

  /* line 842, ../sass/style.scss */
  .nav-menu {
    display: none;
  }

  /* line 846, ../sass/style.scss */
  .nav-lang .fa-bars {
    display: inline;
  }

  /* line 850, ../sass/style.scss */
  .nav-menu a {
    display: block;
  }

  /* line 854, ../sass/style.scss */
  .nav-slash {
    display: none;
  }

  /* line 858, ../sass/style.scss */
  .nav-wrapper {
    font-size: 0.9em;
  }

  /* line 862, ../sass/style.scss */
  .logo-container {
    width: 100%;
    text-align: center;
  }

  /* line 867, ../sass/style.scss */
  .logo {
    width: 150px;
  }

  /* line 871, ../sass/style.scss */
  .short-info {
    width: 100%;
    padding: 15px;
  }

  /* line 876, ../sass/style.scss */
  .short-info i {
    padding: 0;
  }

  /* line 880, ../sass/style.scss */
  .about-us p {
    font-size: 1.5em;
  }

  /* line 884, ../sass/style.scss */
  .blue-part-inner {
    width: 100%;
  }

  /* line 888, ../sass/style.scss */
  .contact-form, .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
  }

  /* line 893, ../sass/style.scss */
  .btn-fix {
    margin: 15px;
  }

  /* line 897, ../sass/style.scss */
  .footer-logo img {
    width: 150px;
  }

  /* line 901, ../sass/style.scss */
  .rights {
    font-size: 0.5em;
  }

  /* line 905, ../sass/style.scss */
  .bottom-links {
    padding: 15px;
  }

  /* line 909, ../sass/style.scss */
  .bottom-links h1 {
    font-size: 1.5em;
    padding: 0;
  }
}
/* line 915, ../sass/style.scss */
.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

/* line 920, ../sass/style.scss */
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 941, ../sass/style.scss */
.swiper-slide .s1 {
  background-image: url(./assets/images/wenice.jpg);
}
/* line 945, ../sass/style.scss */
.swiper-slide .s2 {
  background-image: url(./assets/images/paris.jpg);
}
/* line 949, ../sass/style.scss */
.swiper-slide .s3 {
  background-image: url(./assets/images/budapest.jpg);
}

/*Tablets*/
@media screen and (min-width: 501px) and (max-width: 700px) {
  /* line 956, ../sass/style.scss */
  .nav-wrapper {
    padding: 5px;
  }

  /* line 960, ../sass/style.scss */
  .slider-slogan h1 {
    font-size: 3em;
  }

  /* line 964, ../sass/style.scss */
  .nav-wrapper {
    font-size: 1.3em;
    font-stretch: condensed;
  }

  /* line 969, ../sass/style.scss */
  .logo-container {
    width: 100%;
    text-align: center;
  }

  /* line 974, ../sass/style.scss */
  .nav {
    width: 100%;
    text-align: center;
  }

  /* line 979, ../sass/style.scss */
  .logo {
    width: 150px;
  }

  /* line 983, ../sass/style.scss */
  .short-info {
    width: 50%;
    padding: 15px;
  }

  /* line 988, ../sass/style.scss */
  .short-info i {
    padding: 0;
  }

  /* line 992, ../sass/style.scss */
  .blue-part-inner {
    width: 100%;
  }

  /* line 996, ../sass/style.scss */
  .contact-form, .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
  }

  /* line 1001, ../sass/style.scss */
  .btn-fix {
    margin: 15px;
  }
}
