/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Colors */
/** Fonts */
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/lato_regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../fonts/lato_light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/montserrat_regular.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/montserrat_bold.ttf");
}
/* line 39, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 45, ../sass/style.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #252023;
  background-color: white;
  margin: 0;
  font-family: LatoRegular;
  overflow-x: hidden;
}

/* line 58, ../sass/style.scss */
.nav-lang .fa-bars {
  display: none;
  cursor: pointer;
}

/* line 63, ../sass/style.scss */
.nav-menu {
  display: block;
}

/* line 71, ../sass/style.scss */
.home {
  position: absolute;
  width: 100vw;
  height: 70vh;
}

/* line 77, ../sass/style.scss */
.container {
  box-shadow: 2px 2px 55px #726d70;
}

/* line 81, ../sass/style.scss */
.container, .nav-wrapper {
  width: 1100px;
  margin: auto;
}

/* line 86, ../sass/style.scss */
.social, .arrows {
  width: 1100px;
}

/* line 90, ../sass/style.scss */
.nav-wrapper {
  position: fixed;
  background-color: #29c0ff;
  z-index: 5;
  padding: 0;
  color: white;
  font-size: 1.3em;
  font-family: LatoLight;
}
/* line 99, ../sass/style.scss */
.nav-wrapper a {
  color: white;
  text-decoration: none;
}
/* line 104, ../sass/style.scss */
.nav-wrapper a:hover {
  color: #058fc8;
}

/* line 110, ../sass/style.scss */
.nav-stripe-top {
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  color: #29c0ff;
  background-color: white;
  margin: 0;
  width: 100%;
}

/* line 122, ../sass/style.scss */
.nav-stripe-bottom {
  font-size: 0.8em;
  color: white;
  background-color: #81dafc;
  padding: 2px 15px 2px 15px;
}

/* line 129, ../sass/style.scss */
.stripe-top-content {
  padding: 5px;
}

/* line 133, ../sass/style.scss */
.stripe-top-left, .stripe-top-right {
  width: 50%;
  padding: 2px 15px 2px 15px;
}

/* line 138, ../sass/style.scss */
.stripe-top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

/* line 145, ../sass/style.scss */
.nav-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 15px;
}

/* line 154, ../sass/style.scss */
.nav-slash {
  padding: 0 5px 0 5px;
}

/* line 158, ../sass/style.scss */
.dropdown {
  display: inline-block;
}

/* line 165, ../sass/style.scss */
.dropdown-content {
  font-size: 0.9em !important;
  text-align: left;
  display: none;
  align-content: space-between;
  align-items: stretch;
  text-align: center;
  color: white;
  background-color: #81dafc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin-top: 15px;
  z-index: 1;
}
/* line 182, ../sass/style.scss */
.dropdown-content a {
  display: inline-block;
  color: white !important;
  padding: 2px 0 2px 0;
}
/* line 189, ../sass/style.scss */
.dropdown-content a:hover {
  color: #058fc8 !important;
  background-color: white;
}

/* line 195, ../sass/style.scss */
.dropdown-content-link {
  width: 16%;
  margin: 0;
  padding: 5px;
  align-self: stretch;
}
/* line 201, ../sass/style.scss */
.dropdown-content-link i {
  display: block;
  font-size: 1.5em;
}

/* line 207, ../sass/style.scss */
.dropdown-content-link:hover {
  color: #058fc8 !important;
  background-color: white;
}
/* line 211, ../sass/style.scss */
.dropdown-content-link:hover a {
  color: #058fc8 !important;
  padding: 2px 0 2px 0;
}

/* line 218, ../sass/style.scss */
.dropdown:hover .dropdown-content {
  display: flex;
  align-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  position: absolute;
  width: 1100px;
  left: 0;
  color: white;
}

/* line 232, ../sass/style.scss */
.logo-container {
  width: 30%;
}

/* line 237, ../sass/style.scss */
.nav {
  text-align: right;
  width: 70%;
  padding-right: 5px;
}

/* line 244, ../sass/style.scss */
.logo {
  width: 200px;
}

/* line 248, ../sass/style.scss */
.social-wrapper {
  display: flex;
  z-index: 1;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

/* line 256, ../sass/style.scss */
.arrows {
  text-align: right;
  margin-right: 30px;
  padding-right: 15px;
  z-index: 3;
  align-self: flex-end;
}

/* line 264, ../sass/style.scss */
.left, .right {
  width: 25px;
  height: 25px;
  background-color: #81dafc;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}
/* line 274, ../sass/style.scss */
.left:hover, .right:hover {
  opacity: 0.5;
}

/* line 279, ../sass/style.scss */
.social {
  color: white;
  font-size: 1.5em;
  z-index: 4;
  align-self: flex-end;
  text-align: center;
  margin-bottom: 5%;
}
/* line 289, ../sass/style.scss */
.social i {
  border: solid 1px white;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}
/* line 295, ../sass/style.scss */
.social i:hover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  cursor: pointer;
  background-color: white;
  color: #81dafc;
}

/* line 311, ../sass/style.scss */
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

/* line 330, ../sass/style.scss */
.slider::-webkit-scrollbar {
  display: none;
}

/* line 334, ../sass/style.scss */
.slider-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  flex: 0 0 100%;
  height: 70vh;
  margin: 0px;
  padding: 0px;
  color: white;
}

/* line 349, ../sass/style.scss */
.s1 {
  background-image: url("../images/wenice.jpg");
}

/* line 353, ../sass/style.scss */
.s2 {
  background-image: url("../images/paris.jpg");
}

/* line 357, ../sass/style.scss */
.s3 {
  background-image: url("../images/budapest.jpg");
}

/* line 361, ../sass/style.scss */
.slider-slogan {
  text-align: center;
}
/* line 366, ../sass/style.scss */
.slider-slogan h1 {
  font-family: MontserratBold;
  font-size: 5em;
}
/* line 371, ../sass/style.scss */
.slider-slogan h3 {
  font-family: LatoLight;
  font-size: 1em;
}

/* line 378, ../sass/style.scss */
.btn {
  background-color: #81dafc;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 15px;
  left: 0;
  right: 0;
  z-index: 2;
  position: relative;
}

/* line 393, ../sass/style.scss */
.btn-fix {
  position: relative;
  margin: 0;
  left: 0;
  right: 0;
}

/* line 400, ../sass/style.scss */
.btn:hover {
  -webkit-transition: background-color 1s, color 1s;
  -moz-transition: background-color 1s, color 1s;
  -ms-transition: background-color 1s, color 1s;
  -o-transition: background-color 1s, color 1s;
  transition: background-color 1s, color 1s;
  cursor: pointer;
  background-color: white;
  color: #252023;
}

/* line 423, ../sass/style.scss */
.services {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}

/* line 432, ../sass/style.scss */
.short-info {
  width: 33.33%;
  text-align: center;
  padding: 15px 50px 15px 50px;
  background-color: #fafafa;
  font-family: LatoLight;
  border-left: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  margin: 0;
  color: #726d70;
  cursor: pointer;
  transition: background-color 1s;
}
/* line 446, ../sass/style.scss */
.short-info h1 {
  font-size: 1.2em;
  color: #252023;
}
/* line 451, ../sass/style.scss */
.short-info i {
  padding-top: 25px;
  font-size: 1.5em;
  color: #81dafc;
}
/* line 457, ../sass/style.scss */
.short-info p {
  padding-bottom: 0;
  margin: 0;
  color: #726d70;
}
/* line 463, ../sass/style.scss */
.short-info a {
  text-decoration: none;
  color: #81dafc;
  font-size: 1em;
}
/* line 468, ../sass/style.scss */
.short-info a i {
  font-size: 1em;
}

/* line 474, ../sass/style.scss */
.short-info:hover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  background-color: #81dafc;
  color: white;
}
/* line 483, ../sass/style.scss */
.short-info:hover p, .short-info:hover h1, .short-info:hover i, .short-info:hover a {
  color: white;
}

/* line 488, ../sass/style.scss */
.about-us {
  text-align: center;
  padding: 40px;
}
/* line 492, ../sass/style.scss */
.about-us h1 {
  font-family: MontserratRegular;
  font-size: 3em;
}
/* line 497, ../sass/style.scss */
.about-us p {
  font-size: 2.5em;
  font-family: LatoLight;
  color: #726d70;
}

/* line 504, ../sass/style.scss */
.reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #81dafc;
  color: white;
  text-align: center;
  padding: 30px;
}

/* line 514, ../sass/style.scss */
.blue-part-inner {
  width: 33%;
}
/* line 517, ../sass/style.scss */
.blue-part-inner h1 {
  font-family: MontserratRegular;
}
/* line 521, ../sass/style.scss */
.blue-part-inner p {
  font-family: LatoLight;
  padding: 25px;
}

/* line 527, ../sass/style.scss */
.ref-logos {
  width: 100%;
}
/* line 531, ../sass/style.scss */
.ref-logos h1 {
  font-family: MontserratRegular;
}
/* line 535, ../sass/style.scss */
.ref-logos img {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  width: 150px;
  text-align: center;
  vertical-align: middle;
  margin: 2px;
}
/* line 544, ../sass/style.scss */
.ref-logos img:hover {
  transition: filter 1s;
  -webkit-filter: none;
  /* Safari 6.0 - 9.0 */
  cursor: pointer;
  filter: none;
}

/* line 554, ../sass/style.scss */
.success-block {
  margin: 0;
  background-image: url("../images/success-bck.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* line 565, ../sass/style.scss */
.success-block-wrapper {
  text-align: center;
}
/* line 568, ../sass/style.scss */
.success-block-wrapper h1 {
  font-family: MontserratBold;
  font-size: 4em;
  margin: 0;
}
/* line 574, ../sass/style.scss */
.success-block-wrapper h4 {
  font-family: LatoLight;
  color: #726d70;
  margin: 0;
}

/* line 582, ../sass/style.scss */
.contact-form {
  width: 80%;
  margin: auto;
  font-family: LatoLight;
  color: #726d70;
}
/* line 589, ../sass/style.scss */
.contact-form h2 {
  font-family: MontserratRegular;
  font-size: 3em;
  color: #252023;
}
/* line 595, ../sass/style.scss */
.contact-form .inp-name, .contact-form .inp-email {
  width: 45%;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
  margin-right: 25px;
  font-size: 1.2em;
}
/* line 604, ../sass/style.scss */
.contact-form .inp-msg {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  font-family: LatoLight;
  font-size: 1.2em;
  vertical-align: bottom;
}

/* line 618, ../sass/style.scss */
.inp-name:focus, .inp-email:focus, .inp-msg:focus {
  outline: none;
  box-shadow: 0 0 5px #81dafc;
}

/* line 623, ../sass/style.scss */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  background-color: #81dafc;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border: 1px solid white;
}

/* line 638, ../sass/style.scss */
.inputfile + label {
  font-size: 1em;
  color: white;
  background-color: #81dafc;
  display: inline-block;
  padding: 10px;
  border: 1px solid white;
}

/* line 648, ../sass/style.scss */
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: white;
  color: #252023;
  border: 1px solid #252023;
}

/* line 655, ../sass/style.scss */
.map {
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

/* line 661, ../sass/style.scss */
#footer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

/* line 669, ../sass/style.scss */
.footer-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  width: 100%;
}

/* line 678, ../sass/style.scss */
.footer-logo, .rights {
  width: 50%;
  padding: 25px;
}

/* line 683, ../sass/style.scss */
.rights {
  text-align: right;
}

/* line 687, ../sass/style.scss */
.popup {
  display: none;
  position: fixed;
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.9);
  color: #252023;
  padding: 15px;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #252023;
}
/* line 702, ../sass/style.scss */
.popup .short-info-close {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
/* line 708, ../sass/style.scss */
.popup i {
  font-size: 2em;
}

/* line 714, ../sass/style.scss */
.slide-down {
  display: none;
}

/* line 718, ../sass/style.scss */
.bottom-links {
  width: 50%;
  background-color: #252023;
  color: white;
  padding: 55px;
  font-family: LatoLight;
}
/* line 725, ../sass/style.scss */
.bottom-links a {
  text-decoration: none;
  color: white;
  display: block;
}
/* line 731, ../sass/style.scss */
.bottom-links a:hover {
  color: #81dafc;
}

/* line 735, ../sass/style.scss */
.other {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

/* line 742, ../sass/style.scss */
.other-content {
  display: none;
  padding: 25px;
}

/*Smartphones*/
@media screen and (max-width: 500px) {
  /* line 750, ../sass/style.scss */
  .nav-wrapper {
    padding: 5px;
  }

  /* line 754, ../sass/style.scss */
  .nav {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }

  /* line 760, ../sass/style.scss */
  .nav-menu {
    display: none;
  }

  /* line 764, ../sass/style.scss */
  .nav-lang .fa-bars {
    display: inline;
  }

  /* line 768, ../sass/style.scss */
  .nav-menu a {
    display: block;
  }

  /* line 772, ../sass/style.scss */
  .nav-slash {
    display: none;
  }

  /* line 776, ../sass/style.scss */
  .slider-slogan h1 {
    font-size: 2em;
  }

  /* line 780, ../sass/style.scss */
  .nav-wrapper {
    font-size: 0.9em;
  }

  /* line 784, ../sass/style.scss */
  .logo-container {
    width: 100%;
    text-align: center;
  }

  /* line 789, ../sass/style.scss */
  .logo {
    width: 150px;
  }

  /* line 793, ../sass/style.scss */
  .short-info {
    width: 100%;
    padding: 15px;
  }

  /* line 798, ../sass/style.scss */
  .short-info i {
    padding: 0;
  }

  /* line 802, ../sass/style.scss */
  .about-us p {
    font-size: 1.5em;
  }

  /* line 806, ../sass/style.scss */
  .blue-part-inner {
    width: 100%;
  }

  /* line 810, ../sass/style.scss */
  .contact-form, .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
  }

  /* line 815, ../sass/style.scss */
  .btn-fix {
    margin: 15px;
  }

  /* line 819, ../sass/style.scss */
  .footer-logo img {
    width: 150px;
  }

  /* line 823, ../sass/style.scss */
  .rights {
    font-size: 0.5em;
  }

  /* line 827, ../sass/style.scss */
  .bottom-links {
    padding: 15px;
  }

  /* line 831, ../sass/style.scss */
  .bottom-links h1 {
    font-size: 1.5em;
    padding: 0;
  }
}
/*Tablets*/
@media screen and (min-width: 501px) and (max-width: 700px) {
  /* line 839, ../sass/style.scss */
  .nav-wrapper {
    padding: 5px;
  }

  /* line 843, ../sass/style.scss */
  .slider-slogan h1 {
    font-size: 3em;
  }

  /* line 847, ../sass/style.scss */
  .nav-wrapper {
    font-size: 1.3em;
    font-stretch: condensed;
  }

  /* line 852, ../sass/style.scss */
  .logo-container {
    width: 100%;
    text-align: center;
  }

  /* line 857, ../sass/style.scss */
  .nav {
    width: 100%;
    text-align: center;
  }

  /* line 862, ../sass/style.scss */
  .logo {
    width: 150px;
  }

  /* line 866, ../sass/style.scss */
  .short-info {
    width: 50%;
    padding: 15px;
  }

  /* line 871, ../sass/style.scss */
  .short-info i {
    padding: 0;
  }

  /* line 875, ../sass/style.scss */
  .blue-part-inner {
    width: 100%;
  }

  /* line 879, ../sass/style.scss */
  .contact-form, .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
  }

  /* line 884, ../sass/style.scss */
  .btn-fix {
    margin: 15px;
  }
}
@media screen and (min-width: 1900px) {
  /* line 890, ../sass/style.scss */
  .container, .nav-wrapper {
    width: 1900px;
    margin: auto;
  }

  /* line 895, ../sass/style.scss */
  .social, .arrows {
    width: 1900px;
  }

  /* line 899, ../sass/style.scss */
  .arrows {
    padding-right: 15px;
  }
}
