/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/** Colors */
/** Fonts */
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/lato_regular.ttf");
}
@font-face {
  font-family: LatoLight;
  src: url("../fonts/lato_light.ttf");
}
@font-face {
  font-family: MontserratRegular;
  src: url("../fonts/montserrat_regular.ttf");
}
@font-face {
  font-family: MontserratBold;
  src: url("../fonts/montserrat_bold.ttf");
}
/* line 37, ../sass/style.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 43, ../sass/style.scss */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #252023;
  background-color: white;
  margin: 0;
  font-family: LatoRegular;
}

/* line 55, ../sass/style.scss */
body::-webkit-scrollbar {
  display: none;
}

/* line 59, ../sass/style.scss */
.slider-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

/* line 66, ../sass/style.scss */
.nav-wrapper {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 1.1em;
  font-family: LatoLight;
}
/* line 75, ../sass/style.scss */
.nav-wrapper a {
  color: white;
  text-decoration: none;
}
/* line 80, ../sass/style.scss */
.nav-wrapper a:hover {
  color: #29c0ff;
}

/* line 86, ../sass/style.scss */
.nav-wrapper-inner {
  width: 100%;
}

/* line 91, ../sass/style.scss */
.logo-container {
  float: left;
  width: 50%;
}

/* line 96, ../sass/style.scss */
.nav {
  text-align: right;
  float: left;
  width: 50%;
  padding-right: 5px;
}

/* line 103, ../sass/style.scss */
.logo {
  width: 200px;
}

/* line 107, ../sass/style.scss */
.social-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

/* line 119, ../sass/style.scss */
.arrows {
  width: 100%;
  text-align: right;
  right: 10px;
  position: absolute;
  z-index: 1;
  align-self: center;
}

/* line 132, ../sass/style.scss */
.left, .right {
  width: 25px;
  height: 25px;
  background-color: #29c0ff;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}
/* line 141, ../sass/style.scss */
.left:hover, .right:hover {
  opacity: 0.5;
}

/* line 147, ../sass/style.scss */
.social {
  color: white;
  font-size: 1.5em;
  width: 100%;
  align-self: flex-end;
  text-align: center;
  margin-bottom: 5%;
  z-index: 1;
}
/* line 158, ../sass/style.scss */
.social i {
  border: solid 1px white;
  border-radius: 25px;
  padding: 5px;
  cursor: pointer;
}
/* line 164, ../sass/style.scss */
.social i:hover {
  color: #29c0ff;
}

/* line 170, ../sass/style.scss */
.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
}

/* line 189, ../sass/style.scss */
.slider::-webkit-scrollbar {
  display: none;
}

/* line 193, ../sass/style.scss */
.slider-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  flex: 0 0 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  color: white;
}

/* line 208, ../sass/style.scss */
.s1 {
  background-image: url("../images/wenice.jpg");
}

/* line 212, ../sass/style.scss */
.s2 {
  background-image: url("../images/paris.jpg");
}

/* line 216, ../sass/style.scss */
.s3 {
  background-image: url("../images/budapest.jpg");
}

/* line 220, ../sass/style.scss */
.slider-slogan {
  text-align: center;
}
/* line 225, ../sass/style.scss */
.slider-slogan h1 {
  font-family: MontserratBold;
  font-size: 5em;
}
/* line 230, ../sass/style.scss */
.slider-slogan h3 {
  font-family: LatoLight;
  font-size: 1em;
}

/* line 237, ../sass/style.scss */
.btn {
  background-color: #29c0ff;
  border: none;
  width: 150px;
  height: 50px;
  color: white;
  margin: 10px;
}

/* line 248, ../sass/style.scss */
.btn:hover {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #058fc8;
}

/* line 270, ../sass/style.scss */
.info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;
}

/* line 279, ../sass/style.scss */
.short-info {
  width: 33.33%;
  text-align: center;
  padding: 15px 50px 15px 50px;
  background-color: #fafafa;
  font-family: LatoLight;
  border-left: 1px #e7e7e7 solid;
  border-bottom: 1px #e7e7e7 solid;
  margin: 0;
  cursor: pointer;
}
/* line 290, ../sass/style.scss */
.short-info h1 {
  font-size: 1.2em;
  color: #252023;
}
/* line 295, ../sass/style.scss */
.short-info i {
  padding-top: 25px;
  font-size: 1.5em;
  color: #29c0ff;
}
/* line 301, ../sass/style.scss */
.short-info p {
  padding-bottom: 0;
  margin: 0;
  color: #726d70;
}
/* line 307, ../sass/style.scss */
.short-info a {
  text-decoration: none;
  color: #29c0ff;
  font-size: 1em;
}
/* line 312, ../sass/style.scss */
.short-info a i {
  font-size: 1em;
}

/* line 318, ../sass/style.scss */
.about-us {
  text-align: center;
  padding: 40px;
}
/* line 322, ../sass/style.scss */
.about-us h1 {
  font-family: MontserratRegular;
  font-size: 3em;
}
/* line 327, ../sass/style.scss */
.about-us p {
  font-size: 2.5em;
  font-family: LatoLight;
  color: #726d70;
}

/* line 334, ../sass/style.scss */
.blue-part {
  display: flex;
  justify-content: space-around;
  background-color: #29c0ff;
  color: white;
  text-align: center;
  padding: 30px;
}

/* line 343, ../sass/style.scss */
.blue-part-inner {
  width: 30%;
}
/* line 346, ../sass/style.scss */
.blue-part-inner h1 {
  font-family: MontserratRegular;
}
/* line 350, ../sass/style.scss */
.blue-part-inner p {
  font-family: LatoLight;
  padding: 25px;
}

/* line 356, ../sass/style.scss */
.success-block {
  margin: 0;
  background-image: url("../images/success-bck.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

/* line 367, ../sass/style.scss */
.success-block-wrapper {
  text-align: center;
}
/* line 370, ../sass/style.scss */
.success-block-wrapper h1 {
  font-family: MontserratBold;
  font-size: 4em;
  margin: 0;
}
/* line 376, ../sass/style.scss */
.success-block-wrapper h4 {
  font-family: LatoLight;
  color: #726d70;
  margin: 0;
}

/* line 384, ../sass/style.scss */
.contact-form {
  width: 80%;
  margin: auto;
  font-family: LatoLight;
  color: #726d70;
}
/* line 391, ../sass/style.scss */
.contact-form h2 {
  font-family: MontserratRegular;
  font-size: 3em;
  color: #252023;
}
/* line 397, ../sass/style.scss */
.contact-form .inp-name, .contact-form .inp-email {
  width: 45%;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
  margin-right: 25px;
  font-size: 1.2em;
}
/* line 406, ../sass/style.scss */
.contact-form .inp-msg {
  width: 70%;
  padding: 5px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
  font-family: LatoLight;
  font-size: 1.2em;
  vertical-align: bottom;
}

/* line 420, ../sass/style.scss */
.inp-name:focus, .inp-email:focus, .inp-msg:focus {
  outline: none;
  box-shadow: 0 0 5px #29c0ff;
}

/* line 425, ../sass/style.scss */
.map {
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

/* line 431, ../sass/style.scss */
#footer {
  margin: 5px;
  padding: 15px;
  display: flex;
  align-content: space-between;
}

/* line 438, ../sass/style.scss */
.footer-logo, .rights {
  width: 50%;
}

/* line 442, ../sass/style.scss */
.rights {
  text-align: right;
}

/* line 446, ../sass/style.scss */
.popup {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: white;
  color: #252023;
  padding: 35px;
  height: 70%;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #252023;
}
/* line 462, ../sass/style.scss */
.popup .short-info-close {
  width: 100%;
  text-align: right;
  cursor: pointer;
}
/* line 468, ../sass/style.scss */
.popup i {
  font-size: 2em;
}

/* line 474, ../sass/style.scss */
.slide-down {
  display: none;
}
