/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

/** Colors */
$blue: #29c0ff;
$dark-blue: #058fc8;
$black: #252023;
$grey: #726d70;
$light-grey: #fafafa;
$grey-lines: #e7e7e7;

/** Fonts */
@font-face {
    font-family: LatoRegular;
    src: url('../fonts/lato_regular.ttf');
}

@font-face {
    font-family: LatoLight;
    src: url('../fonts/lato_light.ttf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/montserrat_regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/montserrat_bold.ttf');
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: $black;
  background-color: white;
  margin: 0;
  font-family: LatoRegular;
}

body::-webkit-scrollbar {
  display: none;
}

.slider-wrapper {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.nav-wrapper {
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 15px;
  color: white;
  font-size: 1.1em;
  font-family: LatoLight;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $blue;

  }
}

.nav-wrapper-inner {
  width: 100%;

}

.logo-container {
  float: left;
  width: 50%;
}

.nav {
  text-align: right;
  float: left;
  width: 50%;
  padding-right: 5px;
}

.logo {
  width: 200px;
}

.arrows-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.slider {
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -moz-box;
  // display: -ms-flexbox;

  //flex-wrap: nowrap;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -webkit-flex-direction: column;
  // -moz-box-orient: vertical;
  // -moz-box-direction: normal;
  // -ms-flex-direction: column;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: auto;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  flex: 0 0 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  color: white;
}

.s1 {
  background-image: url('../images/wenice.jpg');
}

.s2 {
  background-image: url('../images/paris.jpg');
}

.s3 {
  background-image: url('../images/budapest.jpg');
}

.slider-slogan {
  z-index: 1;
  text-align: center;


  h1 {
    font-family: MontserratBold;
    font-size: 4em;
  }

  h3 {
    font-family: LatoRegular;
    font-size: 1em;
  }

}

.btn {
  background-color: $blue;
  border: none;
  width: 150px;
  height: 50px;
  color: white;
  margin: 10px;

}

.btn:hover {
  -webkit-transition: background-color 0.5s ease;
 -moz-transition: background-color 0.5s ease;
 -ms-transition: background-color 0.5s ease;
 -o-transition: background-color 0.5s ease;
 transition: background-color 0.5s ease;

  background-color: $dark-blue;
}

.social {
  color: white;
  font-size: 1.5em;
  position: absolute;
  width: 100%;
  bottom: 10%;
  text-align: center;
  vertical-align: middle;



  i {
    border: solid 1px white;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }
}

.arrows {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.left, .right {
   width: 25px;
   height: 25px;
   background-color: $blue;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;

   &:hover {
     opacity: 0.5;
   }

}





#main {

}

.info-wrapper {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;

}

.short-info {
  width: 33.33%;
  text-align: center;
  padding: 15px 50px 15px 50px;
  background-color: $light-grey;
  font-family: LatoLight;
  border-left: 1px $grey-lines solid;
  border-bottom: 1px $grey-lines solid;
  margin: 0;

  h1 {
    font-size: 1.2em;
    color: $black;
  }

  i {
    padding-top: 25px;
    font-size: 1.5em;
    color: $blue;
  }

  p {
    padding-bottom: 25px;
    color: $grey;
  }
}

.about-us {
  text-align: center;
  padding: 40px;

  h1 {
    font-family: MontserratRegular;
    font-size: 3em;
  }

  p {
    font-size: 2.5em;
    font-family: LatoLight;
    color: $grey;
  }
}

.blue-part {
  display: flex;
  justify-content: space-around;
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 30px;
}

.blue-part-inner {
  width: 30%;

  h1 {
    font-family: MontserratRegular;
  }

  p {
    font-family: LatoLight;
    padding: 25px;
  }
}

.success-block {
  margin: 0;
  background-image: url('../images/success-bck.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.success-block-wrapper {
  text-align: center;

  h1 {
    font-family: MontserratBold;
    font-size: 4em;
    margin: 0;
  }

  h4 {
    font-family: LatoLight;
    color: $grey;
    margin: 0;

  }
}

.contact-form {
  width: 80%;
  margin: auto;
  font-family: LatoLight;
  color: $grey;


  h2 {
    font-family: MontserratRegular;
    font-size: 3em;
    color: $black;
  }

  .inp-name, .inp-email {
    width: 45%;
    border: none;
    border-bottom: 1px solid $grey-lines;
    padding: 5px;
    margin-right: 25px;
    font-size: 1.2em;
  }

  .inp-msg {
    width: 70%;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-bottom: 1px solid $grey-lines;
    font-family: LatoLight;
    font-size: 1.2em;
    vertical-align: bottom;
  }


}

.inp-name:focus, .inp-email:focus, .inp-msg:focus {
  outline: none;
  box-shadow: 0 0 5px $blue;
}

.map{
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

#footer {
  margin: 5px;
  padding: 15px;
  display: flex;
  align-content: space-between;
}

.footer-logo, .rights {
  width: 50%;
}

.rights {
  text-align: right;
}
// html {
//   -webkit-box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   box-sizing: border-box;
// }
//
// *, *:before, *:after {
//   -webkit-box-sizing: inherit;
//   -moz-box-sizing: inherit;
//   box-sizing: inherit;
//   }
//
// .clearfix {
//     clear: both;
//   }
//
// body {
//   margin: 0;
// }
//
// div#slider {
//   overflow: hidden;
// }
// .slider-inner {
//   position: absolute;
//   display: flex;
//   z-index: 1;
//   color: white;
//   text-align: center;
//   width: 100%;
// }
//
// .nav {
//   width: 50%;
// }
//
// .logo-container {
//   width: 50%;
// }
//
// .slider-content {
//   width: 300%;
// }
//
//
// .arrow-wrapper {
//    position: absolute;
//
//    color: white;
//    margin:0;
//    width: 100%;
//    text-align: center;
//    top: 50%;
// }
//
// .left-arrow {
//   float: left;
// }
//
// .right-arrow {
//   float: right;
// }
//
// .logo {
//
//
//   width: 300px;
// }
//
// .slide {
//   width: 33%;
//   float: left;
//   display: inline;
//  }
//
// div#slider #figure {
//   position: relative;
//   width: 309%;
//   margin: 0;
//   padding: 0;
//   left: 0;
//   text-align: left;
//   font-size: 0;
//
// }
//
// #slide1{
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../images/wenice.jpg");
//   background-size: cover;
//   background-position: center;
// }
//
// #slide2{
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../images/paris.jpg");
//   background-size: cover;
//   background-position: center;
// }
//
// #slide3{
//   width: 100vw;
//   height: 100vh;
//   background-image: url("../images/budapest.jpg");
//   background-size: cover;
//   background-position: center;
// }
