/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//@import "compass/reset";

/** Colors */
// old $blue: #29c0ff;
$blue-old: #29c0ff;
$blue: #81dafc;
$dark-blue: #058fc8;
$black: #252023;
$grey: #726d70;
$light-grey: #fafafa;
$grey-lines: #e7e7e7;
$orange: #FF9900;

/** Fonts */
@font-face {
    font-family: LatoRegular;
    src: url('../fonts/lato_regular.ttf');
}

@font-face {
    font-family: LatoLight;
    src: url('../fonts/lato_light.ttf');
}

@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/montserrat_regular.ttf');
}

@font-face {
    font-family: MontserratBold;
    src: url('../fonts/montserrat_bold.ttf');
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: $black;
  background-color: white;
  margin: 0;
  font-family: LatoRegular;
  overflow-x: hidden;
}

.nav-lang .fa-bars {
  display: none;
  cursor: pointer;
}

.nav-menu {
  display: block;
}

// body::-webkit-scrollbar {
//   //display: none;
// }

.header {
  position: relative;
  width: 100vw;
  height: 70vh;
}

.container {

}

.container {
  width: 1100px;
  margin: auto;
}

.social, .arrows {
  width: 1100px;
}

.nav-wrapper {
  width: 100%;
  position: fixed;
  background-color: $blue-old;
  z-index: 10;
  padding: 0;
  color: white;
  font-size: 1.3em;
  font-family: LatoLight;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: $dark-blue;

  }
}

.nav-wrapper-box {
  width: 1100px;
  margin: auto;
}

.stripe-wrapper {
  width: 100%;
  background-color: white;
}

.nav-stripe-top {
  font-size: 0.8em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  color: $blue-old;
  background-color: white;
  margin: auto;
  width: 1100px;
}

.nav-stripe-bottom {
  font-size: 0.8em;
  color: white;
  background-color: $blue;
  padding: 2px 15px 2px 15px;

  .nav-stripe-bottom-inner {
    width: 1100px;
    margin: auto;
  }
}

.stripe-top-content {
  padding: 5px;
}

.stripe-top-left, .stripe-top-right {
  width: 50%;
  padding: 0;
}

.stripe-top-left {
  padding-left: 15px;
}

.stripe-top-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;

  a {
    color: $blue;
    padding: 1px;
  }

  .languages {
    width: 60px;
    text-align: left;



  }

  .languages:hover .languages-dropdown {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 100;
  }

  .languages-dropdown {
    display: none;
  }

  .flag {
    width: 15px;
    text-align: right;
  }


}

.nav-wrapper-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 15px;

}

.nav-slash {
  padding: 0 5px 0 5px;
}

.dropdown {
  display: inline-block;
  padding: 18px 0;
}

.dropdown-content {
  font-size: 0.9em !important;
  text-align: left;
  display: none;
  align-content: space-between;
  align-items: center;
  text-align: center;
  //position: absolute;
  color: white;
  background-color: $blue;
  //width: 1000px;
  //max-width: 1000px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0;
  margin-top: 0;
  z-index: 1;

  a {
    //width: 100%;
    display: inline-block;
    color: white !important;
    padding: 2px 0 2px 0;
  }

  a:hover {
    color: $dark-blue !important;
    background-color: white;
  }
}

.dropdown-content-link {
  width: 25%;
  margin: 0;
  padding: 5px;
  align-self: stretch;

  i {
    display: block;
    font-size: 1.5em;
  }
}

.dropdown-content-link:hover {
  color: $dark-blue !important;
  background-color: white;

  a {
    color: $dark-blue !important;
    padding: 2px 0 2px 0;
  }

}

.dropdown:hover .dropdown-content {
    display: flex;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    position: absolute;
    width: 1100px;
    margin: auto;
    margin-top: 20px;
    color: white;
    left: 0;
    right: 0;

}

.logo-container {
  //float: left;
  width: 30%;
}

.nav {
  text-align: right;
  //float: left;
  width: 70%;
  padding-right: 5px;
}

.logo {
  width: 200px;
}

.social-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  align-content: center;
  z-index: 2;
  flex-wrap: wrap;
  bottom: 15px;
}

.arrows {
  text-align: right;
  margin-right: 30px;
  padding-right: 15px;
  z-index: 3;
  align-self: flex-end;
}

.left, .right {
   width: 25px;
   height: 25px;
   background-color: $blue;
   border: none;
   color: white;
   border-radius: 15px;
   cursor: pointer;
   outline: none;

   &:hover {
     opacity: 0.5;
   }
}

.social {
  color: white;
  font-size: 1.5em;
  z-index: 4;
  align-self: flex-end;
  text-align: left;
  margin-bottom: 5%;

  a {
    color: white;
    text-decoration: none;
  }

  .help {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    background-color: white;
    padding: 5px;
    border-radius: 5px 0 0 5px;

    a {
      color: $blue;
      text-decoration: none;
    }

  }



  i {
    border: solid 1px white;
    border-radius: 25px;
    padding: 5px;
    cursor: pointer;

    &:hover {

      -webkit-transition: background-color 1s;
      -moz-transition: background-color 1s;
      -ms-transition: background-color 1s;
      -o-transition: background-color 1s;
      transition: background-color 1s;
      cursor: pointer;
      background-color: white;
      color: $blue;
    }
  }
}



.slider {
  display: flex;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -moz-box;
   //display: -ms-flexbox;
  flex-direction: row;
  // -webkit-box-orient: vertical;
  //-webkit-box-direction: normal;
  // -webkit-flex-direction: column;
  //-moz-box-orient: vertical;
  //-moz-box-direction: normal;
  // -ms-flex-direction: column;


  align-items: center;
  overflow: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:flex-end;
  align-items:flex-end;
  background-color: #ecf0f1;
  background-size: cover;
  background-position: center;
  flex: 0 0 100%;
  height: 70vh;
  margin: 55px 0 0 0;
  padding: 0;
  color: white;

}


.slider-contact {
  position: absolute;
  background-color: rgba(255, 153, 0, 0.8);
  right: 20px;
  bottom: 0;
  padding: 5px;
  z-index: 5;

  a {
    color: white;
    text-decoration: none;
  }
}

.slider-slogan {
  color: white;
  text-align: center;
  width: 100%;
  text-shadow: 2px 2px 2px grey;


  h1 {
    font-family: MontserratBold;
    font-size: 3em;
    margin: 0;
  }

  h3 {
    font-family: LatoLight;
    font-size: 1.2em;
    margin: 0;
  }

}

.btn {
  background-color: $blue;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 15px;
  left: 0;
  right: 0;
  z-index: 2;
  position: relative;
}

//dodaj
.btn-fix {
  position: relative;
  margin: 0;
  left: 0;
  right: 0;
}

.btn:hover {
  -webkit-transition: background-color 1s, color 1s;
 -moz-transition: background-color 1s, color 1s;
 -ms-transition: background-color 1s, color 1s;
 -o-transition: background-color 1s, color 1s;
 transition: background-color 1s, color 1s;
  cursor: pointer;
  background-color: white;
  color: $black;
}









#main {

}

.services {
  display: flex;
  //align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: stretch;

}

.short-info {
  width: 50%;
  text-align: center;
  padding: 15px 50px 15px 50px;
  background-color: $light-grey;
  font-family: LatoLight;
  border-left: 1px $grey-lines solid;
  border-bottom: 1px $grey-lines solid;
  margin: 0;
  color: $grey;
  cursor: pointer;

  transition: background-color 1s;

  h1 {
    font-size: 1.2em;
    color: $black;
  }

  i {
    padding-top: 25px;
    font-size: 1.5em;
    color: $blue;
  }

  p {
    padding-bottom: 0;
    margin: 0;
    color: $grey;
  }

  a {
    text-decoration: none;
    color: $blue;
    font-size: 1em;

    i {
      font-size: 1em;
    }
  }
}

.short-info:hover {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
  background-color: $blue;
  color: white;

  p, h1, i, a {
    color: white;
  }
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 40px;

  .about-us-left, .about-us-right {
    width: 50%;

  }

  h1 {
    font-family: MontserratRegular;
    font-size: 3em;
    width: 100%;
  }

  p {
    font-size: 2.5em;
    font-family: LatoLight;
    color: $grey;
  }
}

.reference {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: $blue;
  color: white;
  text-align: center;
  padding: 30px;
}

.blue-part-inner {
  width: 33%;

  h1 {
    font-family: MontserratRegular;
  }

  p {
    font-family: LatoLight;
    padding: 25px;
  }
}

.ref-logos {

  width: 100%;

  h1 {
    font-family: MontserratRegular;
  }

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 150px;
    text-align: center;
    vertical-align: middle;
    margin: 2px;
  }

  img:hover {
    transition: filter 1s;
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    cursor: pointer;
    filter: none;
  }


}

.success-block {
  margin: 0;
  background-image: url('../images/success-bck.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.success-block-wrapper {
  text-align: center;

  h1 {
    font-family: MontserratBold;
    font-size: 4em;
    margin: 0;
  }

  h4 {
    font-family: LatoLight;
    color: $grey;
    margin: 0;

  }
}

.contact-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-family: LatoLight;
  color: $grey;

  .popup-help-right, .popup-help-left {
    width: 50%;
  }


  h2 {
    font-family: MontserratRegular;
    font-size: 3em;
    color: $black;
  }

  .inp-name, .inp-email, .btn {
    width: 100%;
    border: none;
    border-bottom: 1px solid $grey-lines;
    padding: 5px;
    margin-top: 15px;
    font-size: 1.2em;
  }

  .inp-msg {
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    border: none;
    border-bottom: 1px solid $grey-lines;
    font-family: LatoLight;
    font-size: 1.2em;
    vertical-align: bottom;
  }


}

.inp-name:focus, .inp-email:focus, .inp-msg:focus {
  outline: none;
  box-shadow: 0 0 5px $blue;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
  background-color: $blue;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  border: 1px solid white;
}

.inputfile + label {
    font-size: 1em;
    //font-weight: 700;
    color: white;
    background-color: $blue;
    display: inline-block;
    padding: 10px;
    border: 1px solid white;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
    color: $black;
    border: 1px solid $black;
}

.map{
  width: 100%;
  height: 400px;
  margin-top: 25px;
}

#footer {
  //margin: 5px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 100%;
}

.footer-inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo, .rights {
  width: 50%;
  padding: 25px;
}

.rights {
  text-align: right;
}

.popup {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  color: $black;
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 0;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 2px 2px 5px $black;


  .short-info-close {
    width: 100%;
    text-align: right;
    cursor: pointer;
  }

  i {
    font-size: 2em;
  }

  .popup-inner {
    width: 1100px;
    margin: auto;
  }
}

.slide-down {
  display: none;
}

.bottom-links {
  width: 50%;
  background-color: $orange;
  color: white;
  padding: 55px;
  font-family: LatoLight;

  a {
    text-decoration: none;
    color: white;
    display: block;
  }

  a:hover {
    color: $blue;
  }
}
.other {
  width: 80%;
  margin: auto;
  margin-top: 25px;


}
.other-content {
  display: none;
  //box-shadow: 0px 2px 5px $grey;
  padding: 25px;
}

.flags {
  overflow: hidden;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          display: block;
}

.slide-left {
	-webkit-animation: slide-left 15s linear infinite both;
	        animation: slide-left 15s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-17 11:55:7
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-3-17 13:56:22
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}



/*Smartphones*/
@media screen and (max-width: 500px) {
  .nav-wrapper {
    padding: 5px;
  }

  .nav {
    width: 100%;
    text-align: center;
    font-size: 1.3em;
  }

  .nav-menu {
    display: none;
  }

  .nav-lang .fa-bars {
    display: inline;
  }

  .nav-menu a {
    display: block;
  }

  .nav-slash {
    display: none;
  }

  .nav-wrapper {
    font-size: 0.9em;
  }

  .logo-container {
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 150px;
  }

  .short-info {
    width: 100%;
    padding: 15px;
  }

  .short-info i {
    padding: 0;
  }

  .about-us p {
    font-size: 1.5em;
  }

  .blue-part-inner {
    width: 100%;
  }

  .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
    display: block;
  }

  .btn-fix {
    margin: 15px;
  }

  .footer-logo img {
    width: 150px;
  }

  .rights {
    font-size: 0.5em;
  }

  .bottom-links {
    padding: 15px;
  }

  .bottom-links h1 {
    font-size: 1.5em;
    padding: 0;
  }
}

.swiper-container {
      width: 100%;
      height: 100%;
      margin-top: 100px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      //background: #fff;
      //background-image: url('../images/wenice.jpg');
      background-size: cover;
      background-position: center;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .s1 {
        background-image: url(./assets/images/wenice.jpg);
      }

      .s2 {
        background-image: url(./assets/images/paris.jpg);
      }

      .s3 {
        background-image: url(./assets/images/budapest.jpg);
      }
    }

/*Tablets*/
@media screen and (min-width: 501px) and (max-width: 700px) {
  .nav-wrapper {
    padding: 5px;
  }

  .slider-slogan h1 {
    font-size: 3em;
  }

  .nav-wrapper {
    font-size: 1.3em;
    font-stretch: condensed;
  }

  .logo-container {
    width: 100%;
    text-align: center;
  }

  .nav {
    width: 100%;
    text-align: center;
  }

  .logo {
    width: 150px;
  }

  .short-info {
    width: 50%;
    padding: 15px;
  }

  .short-info i {
    padding: 0;
  }

  .blue-part-inner {
    width: 100%;
  }

  .contact-form, .contact-form .inp-name, .contact-form .inp-email, .contact-form .inp-msg {
    width: 100%;
    padding: 15px;
  }

  .btn-fix {
    margin: 15px;
  }
}

// @media screen and (min-width: 1900px) {
//   .container, .nav-wrapper {
//     width: 1900px;
//     margin: auto;
//   }
//
//   .social, .arrows {
//     width: 1900px;
//   }
//
//   .arrows {
//     padding-right: 15px;
//   }
//
//
// }
